[Unit]
Description=Setup USB Gadget Debug Interface
#DefaultDependencies=no
Before=network-pre.target getty.target
Wants=network-pre.target getty.target

[Service]
Type=oneshot
ExecStart=/etc/usb-gadget-debugif.sh

[Install]
WantedBy=network.target getty.target
