
set_io r[0] 23
set_io g[0] 25
set_io b[0] 26
set_io r[1] 36
set_io g[1] 27
set_io b[1] 42
set_io a[0] 32
set_io a[1] 38
set_io a[2] 31
set_io a[3] 28
set_io clk 37
set_io lat 34
set_io oe 43

set_io spi_sclk 15
set_io spi_ss 16
set_io spi_mosi 17
set_io spi_miso 14

